<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Local website for manage requests, kunafah store">
    <meta name="keywords" content="kunafah abo anas">
    <meta name="author" content="Ghayth Shayeb">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="shortcut icon" href="IMG/AboAnasSweets.png" type="image.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>حلويات أبو أنس</title>
</head>
<body>
<!-- NavBar section -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="IMG/AboAnasSweets.png" alt="Abo Abas" id="perfectCircle">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#about-store">عن المحل و ماذا نقدم</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#products">الأسعار</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#order-now">اطلب الآن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#edit">تعديل بيانات طلبك</a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>

 <!-- About Store section -->
    <br>
    <div class="about-store" id="about-store" style="margin-top: 100px;">
        <h1>عن المحل</h1>
        <p>محل أبو أنس يقع في قرية إجنسنيا\نابلس لصاحبه أبو أنس, يتميز المحل بالكنافة الخشنة (البرمة), والكلاج والفطير وغيرها في رمضان خصوصاَ.</p>
        <hr>
        <h1>ماذا نقدم</h1>
        <h2 style="text-align: center; font-weight:700;">في الأيام العادية: الكنافة (البرمة فقط)</h2>
        <h2 style="text-align: center; font-weight:700;">في رمضان: الكلاج, الفطير, البقلاوة, الهريسة</h2>
    </div>

<!-- Products Prices -->
    <br>
<!-- Products Prices -->

<div class="about-store">
    <h1>الأسعار</h1>

<div class="products" id="products">

    <div class="product-card">
        <h3>الكنافة</h3>
        <p>25 شيكل / كيلو</p>
    </div>

    <div class="product-card">
        <h3>البقلاوة</h3>
        <p>25 شيكل / كيلو</p>
    </div>

    <div class="product-card">
        <h3>الكلاج</h3>
        <p>25 شيكل / كيلو</p>
    </div>

    <div class="product-card">
        <h3>الفطير</h3>
        <p>25 شيكل / كيلو</p>
    </div>

    <div class="product-card">
        <h3>الهريسة</h3>
        <p>16 شيكل / كيلو</p>
    </div>

</div>

</div>

<!-- Form -->
    <br>
<form action="/sign" method="POST" class="requesting-form" id="order-now">
    <h1>اطلب الآن</h1>
    <h2 style="font-weight: 900; font-size: large;">املأ الحقول:</h2>
    <hr>

<div class="form-group">
    <label for="input1">الشهر</label>
    <!--<input id="input1" type="number" name="month" placeholder="اكتب رقم الشهر." min="1" max="12" required> <== this was the old way i used -->
    <select id="input1"  name="month" aria-placeholder="اختر الشهر." required  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected value="NaN">اختر الشهر.</option>
        <option value="1">1 - يناير</option>
        <option value="2">2 - فبراير</option>
        <option value="3">3 - مارس</option>
        <option value="4">4 - إبريل</option>
        <option value="5">5 - مايو</option>
        <option value="6">6 - يونيو</option>
        <option value="7">7 - يوليو</option>
        <option value="8">8 - أغسطس</option>
        <option value="9">9 - سبتمبر</option>
        <option value="10">10 - أكتوبر</option>
        <option value="11">11 - نوفمبر</option>
        <option value="12">12 - ديسمبر</option>
    </select>
    </select>
</div>

<div class="form-group">
    <label for="input2">اليوم للشهر</label>
    <input id="input2" type="number" name="dayOfMonth" min="1" max="31" placeholder="يوم 20 من الشهر كمثال." required>
</div>

<div class="form-group">
    <label for="input3">الساعة</label>
    <input id="input3" type="time" name="time" placeholder="اضغط على أيقونة الساعة." style="text-align: right;" required>
</div>

<div class="form-group">
    <label for="input4">كم كيلو؟</label>
    <input id="input4" type="text" name="quantity" min="1" placeholder="اضف رقماَ." required>
</div>

<div class="form-group">
    <label for="input5">ملاحظات إضافية</label>
    <textarea id="input5" rows="4" name="additionalNotes" placeholder="كيف تريد طلبك؟مثال: هل هنالك احد من العائلة لديه مرض السكري ؟ يمكننا تخصيص كمية له. ">يمكنك تركه فارغاً في حال عدم وجود ملاحظات.</textarea>
</div>

<div class="form-group">
    <label for="input6">الاسم</label>
    <input id="input6" type="text" name="yourName" placeholder="اسمك." required>
</div>

<div class="form-group">
    <label for="input7">رقم الهاتف</label>
    <input id="input7" type="number" name="yourPhone" placeholder="رقم هاتفك لنتواصل معك." style="text-align: right;" required>
</div>
<button type="submit" class="submit-btn">إرسال الطلب</button>

</form>

<form action="/find" method="POST" class="requesting-form" id="edit">
    <h1>هل تود التعديل على بياناتك ؟</h1>
<div class="form-group">
    <label for="input8">رقم الهاتف</label>
    <input id="input8" type="number" name="yourPhone" placeholder="رقم هاتفك لتعديل البينات." style="text-align: right;">
</div>

    <button type="submit" class="submit-btn">تعديل</button>
</form>


<footer>
    <h1>Contact | تواصل</h1>
    <p><strong>0569131166 || 0599187319</strong></p>
</footer>
        <script src="/javascript/app.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>